nav{
    display: block;
    text-align: center;
    position: sticky;
    top: 0;
    background-color: black;
    border-radius: 10px;
    z-index: 100;
    
}
nav a{
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    padding: 5px 5%;
    color: lightgray;
    
}
nav a:hover{
    color: black;
    background-color: orange;
    border-radius: 10px;
    font-size: 18px;
    
}